body {
    font-family: Arial, sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.user-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.user-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-details {
    text-align: left;
}

.balance-icon {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #4ca1af;
    font-size: 24px;
    margin-right: 5px;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

.nav-button {
    font-size: 24px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
}

.nav-button:focus {
    outline: none;
}

.list-group-item {
    background: linear-gradient(45deg, #1f4037, #99f2c8);
    color: white;
    margin: 10px 0;
    border-radius: 5px;
}

.list-group-item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.list-group-item a:hover {
    color: #d4f1c5;
}

.input-group-append .btn {
    border-radius: 0 5px 5px 0;
    background: linear-gradient(45deg, #1f4037, #99f2c8);
    color: white;
}

.input-group-append .btn:hover {
    background: linear-gradient(45deg, #1f4037, #99f2c8);
}

.ticket {
    width: 80px;
    height: 80px;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.game-box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.game-box p {
    font-size: 24px;
    margin-bottom: 10px;
}

.game-box button {
    background: #4ca1af;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}

.game-box button:hover {
    background: #3b8d99;
}
